<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="lab5.css">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <!-- my home page content here >
</body>
</html>