<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="lab5.css">
</head>
<body>
    <h1>User Registration</h1>
    <!-- my registration form here -->
</body>
</html>